* {
		box-sizing: border-box;
		margin: 0;
	}

html {
	font-family: "Lucida Sans", sans-serif;
	background: rgba(0, 0, 0, 0.1) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.body {
	height: 100vh;
	color: white;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	border-style: inset;
	border-color: black;
	padding: 5px 5px;
	background: rgba(255, 255, 255, 0.1);
}

.grid {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	border-style: inset;
	border-color: black;
}

@media only screen and (max-height: 301px) and (min-height: 100px), (min-width: 200px) and (min-height: 100px) {
		.grid {
			grid-template-columns: repeat(2, 1fr);
		}
}

@media only screen and (min-height: 301px) and (max-width: 451px) {
		.grid {
			grid-template-columns: repeat(1, 1fr);
		}
}

.c-1 {
	background-color: rgba(0, 17, 255, 0.5);
	height: 100%;
	min-height: 20px;
}

.c-2 {
	background-color: rgba(255, 21, 0, 0.5);
	height: 100%;
	min-height: 20px;
}

.c-3 {
	background-color: rgba(9, 255, 0, 0.5);
	height: 100%;
	min-height: 20px;
}

.c-4 {
	background-color: rgba(93, 0, 255, 0.5);
	height: 100%;
	min-height: 20px;
}
